<section data-ng-controller="OrdersController">

	<div class="page-header">
			<h1>Pidiendo un kangou</h1>
	</div>
	<div class="col-md-12">
			<form class="form-horizontal" data-ng-submit="create()" novalidate>
					<fieldset>
							<div class="form-group">
								<div id="items">


									<label class="control-label" for="price.amount">amount</label>
									<div class="controls">
											<input type="text" data-ng-model="price.amount" id="price.amount" class="form-control" placeholder="amount" required>
									</div>
									<label class="control-label" for="price.amount">Items</label>
									<div class="controls">
											<input type="text" data-ng-model="items.type" id="items.type" class="form-control" placeholder="type" required>
									</div>
								</div>
								<div id="confirm">
									<div class="form-group">

										TODO
									</div>
								</div>

						</div>

						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
			</form>
	</div>
</section>
